[Unit]
Description=Pod for Unifi Network Application
Requires=unifi-quadlet-network.service
After=network.target


[Pod]
PodName=unifi-quadlet
Network=unifi-netapp.network
PublishPort=8443:8443/tcp
PublishPort=3478:3478/udp
PublishPort=10001:10001/udp
PublishPort=8080:8080/tcp
PublishPort=1900:1900/udp
PublishPort=8843:8843/tcp
PublishPort=8880:8880/tcp
PublishPort=5514:5514/udp
